.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > div {
    padding: 15px;
    width: 50%;
  }
}

table {
  width: 100%;
}

button {
  background-color: rgb(255, 77, 79);
  border: none;
  margin: 2px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.big-button,
input {
  width: 100%;
}

input {
  width: calc(100% - 14px);
  padding: 7px;
  border-radius: 5px;
  margin: 2px;
}
