.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > div {
    padding: 15px;
    width: 50%;
  }
}

table {
  width: 100%;
}

button {
    background-color: rgb(255, 77, 79);
    border: none;
    padding: 7px;
    margin: 2px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}